<span class="contact-list-title">Links</span>
<ul class="contact-list {{ include.class }}">
  {% if site.email %}
  <li>
    {% include _icons/email.html username=site.email %}
  </li>
  {% endif %}

  {% if site.curriculum.url %}
  <li>
    {% include _icons/file.html curriculum=site.curriculum %}
  </li>
  {% endif %}

  {% comment %}
  <li>
    {% include _icons/rss.html %}
  </li>
  {% endcomment %}

  {% if site.twitter_username %}
  <li>
    {% include _icons/twitter.html username=site.twitter_username %}
  </li>
  {% endif %}

  {% if site.linkedin_username %}
  <li>
    {% include _icons/linkedin.html username=site.linkedin_username %}
  </li>
  {% endif %}

  {% if site.github_username %}
  <li>
    {% include _icons/github.html username=site.github_username %}
  </li>
  {% endif %}

  {% if site.leetcode_username %}
  <li>
    {% include _icons/leetcode.html username=site.leetcode_username %}
  </li>
  {% endif %}

  {% if site.hackerrank_username %}
  <li>
    {% include _icons/hackerrank.html username=site.hackerrank_username %}
  </li>
  {% endif %}

  {% if site.keybase_username %}
  <li>
    {% include _icons/keybase.html username=site.keybase_username %}
  </li>
  {% endif %}

  {% if site.steam_username %}
  <li>
    {% include _icons/steam.html username=site.steam_username %}
  </li>
  {% endif %}

  {% if site.author_website %}
  <li>
    {% include _icons/website.html url=site.author_website %}
  </li>
  {% endif %}

</ul>