<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.seo.title %}
  <title>{{ page.seo.title }}</title>
  {% else %}
  <title>{{ page.title | append: " | " | default:"" }}{{ site.title | strip_newlines }}</title>
  {% endif %}

  {% if page.seo.description %}
  <meta name="description" content="{{ page.seo.description | truncate: 160 }}">
  {% elsif page.summary %}
  <meta name="description" content="{{ page.summary | truncate: 160 }}">
  {% else %}
  <meta name="description" content="{{site.description}}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | strip_newlines }}" href="{{ '/feed.xml' | relative_url }}">

  {% capture favicons %}
  {% for file in site.static_files %}
  {% if file.path contains "apple-touch-icon.png" %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ file.path }}">
  {% endif %}

  {% if file.path contains "favicon-16x16.png" %}
  <link rel="icon" type="image/png" href="{{ file.path }}" sizes="16x16">
  {% endif %}

  {% if file.path contains "favicon-32x32.png" %}
  <link rel="icon" type="image/png" href="{{ file.path }}" sizes="32x32">
  {% endif %}

  {% endfor %}
  {% endcapture %}
  {{ favicons | strip_newlines | lstrip }}
  <meta name="theme-color" content="#{{ site.favicon.theme | default:'ffffff' }}">

</head>
