<li>
  <h2>
    <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
  </h2>
    <span class="post-meta">
      <span class="date">
      {{ post.date | date: site.dateformat }}
        <span class="last-update">·
          last updated on {{ post.last_modified_at | date: site.dateformat }} 
        </span>
      </span>
    </span>

  {% if post.thumbnail %}
  <div class="post-thumbnail-wrapper">
    <a href="{{ post.url | relative_url }}"><img class="post-thumbnail" src="/assets/{{ post.thumbnail }}" alt="{{ post.title | escape }}"/></a>
  </div>
  {% endif %}

  <p>{{ post.summary }}</p>
</li>
