.posts {
  margin: 0;
}

.posts .post {
  margin-bottom: 0.75em;
  border-bottom: thin solid #f3f3f3;
}

.posts .post:last-child {
  border-bottom: none;
  margin-bottom: .375em;
  padding-bottom: 0;
}

.post-link .post-title {
  margin-top: 0;
  font-weight: 600;
  color: $dark-gray;
}

.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-family: $font-family;
  font-size: $small;
  font-weight: 400;
  margin: 0;
  padding: .25em 0;
  color: #7a7a7a;
}

.related-post-title {
  margin-top: $h0;
  margin-bottom: $space-1;
}

.related-posts {
  p {
    font-size: $space-8;
    margin-bottom: $space-6;

    a {
      color: #3a3a3a;
      background-image: none;
      margin-right: $space-1;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.post-summary {
  font-size: $p;
  line-height: 1.8;
}