---
layout: compress
---
<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>
    {% include header.html %}

    {% if page.layout == "post" %}
    <main class="post-content" aria-label="Content">
    {% else %}
    <main class="page-content" aria-label="Content">
    {% endif %}
      <div class="wrapper">
        {{ content }}

        {% include currenttrack.html %}
      </div>
    </main>

    {% include footer.html %}

    {% if page.layout == "about" %}
    <script defer src="{{ '/assets/script.min.js' | relative_url }}"></script>
    {% endif %}
  </body>
</html>
