---
layout: default
---

<div class="post-header">
  <h1 class="post-title-main">{{ page.title }}</h1>
  {% include post-header.html %}
</div>
<div class="post-content">
  {{ content }}
</div>
<div class="post-footer">
  {% if site.data.theme.show_post_navs %}
    {% if page.previous or page.next %}
      <div class="post-navs row">
        
        <div class="col-sm-12 col-md-6 post-nav pull-left">
          {% if page.next %}
          <h3 class="section-header">
            <a href="{{ page.next.url | prepend:site.baseurl }}">&laquo; Newer</a>
          </h3>
          {% endif %}
        </div>
  
        <div class="col-sm-12 col-md-6 post-nav pull-right text-right">
          {% if page.previous %}
          <h3 class="section-header">
            <a href="{{ page.previous.url | prepend:site.baseurl }}">Older &raquo;</a>
          </h3>
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endif %}
  {% include post-footer.html %}
</div>
