---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.thumbnail %}
  <header class="post-header with-thumbnail">
  {% else %}
  <header class="post-header">
  {% endif %}
    {% if page.thumbnail %}
    <img class="post-thumbnail" src="/assets/{{ page.thumbnail }}" alt="{{ page.title | escape }}"/>
    {% endif %}
    {% if page.hide_summary %}
    <div class="wrapper without-summary">
    {% else %}
    <div class="wrapper">
    {% endif %}
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <p class="post-meta">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: site.dateformat }}
        </time>
        <span class="last-update">·
          last updated on {{ page.last_modified_at | date: site.dateformat }} 
        </span>
        {% if page.author %} • 
          <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
      </p>

      {% if page.hide_summary != true %}
      <h3 class="post-summary">{{ page.summary }}</h3>
      {% endif %}
    </div>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div class="pagination">
    {% if page.next.url %}
      <a class="prev" href="{{page.next.url}}">&laquo; {{page.next.title}}</a>
    {% endif %}
    {% if page.previous.url %}
      <a class="next" href="{{page.previous.url}}">{{page.previous.title}} &raquo;</a>
    {% endif %}
  </div>

  {% include calltoaction.html %}

</article>
